/* ========== FONTS ========== */
@font-face {
    font-family: 'teko-light';
    src: url('../assets/fonts/Teko-Light.ttf');
}

@font-face {
    font-family: 'teko-medium';
    src: url('../assets/fonts/Teko-Medium.ttf');
}

@font-face {
    font-family: 'zilla-medium';
    src: url('../assets/fonts/ZillaSlab-Medium.ttf');
}

/* ========== COLOR VARIABLES ========== */
:root {
    --primary-gold: rgb(238, 205, 16);
    --secondary-gold: rgb(255, 234, 113);
}
/* ===================================== */

main {
    height: fit-content;
    background-color: rgb(220, 220, 220);
    margin: 30px 30px 30px 30px;
    padding: 1px 20px 1px 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    font-family: zilla-medium;
    margin: 0;
}

/* ============================ HEADER & FOOTER ============================ */
header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to bottom, var(--primary-gold) 0%, var(--secondary-gold) 70%);
}

header img {
    width: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

header h1 {
    width: fit-content;
    flex: 1;
    font-family: zilla-medium;
    font-size: min(40px, 4.5vw);
}

footer {
    width: 100%;
    height: 70px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to top, var(--primary-gold) 0%, var(--secondary-gold) 70%);
    margin-top: auto;
}
/* ============================ NAV ============================ */
nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 3;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
    margin: 0;
    justify-content: center;
    align-items: center; 
}

nav li {
    width: 50%;
    height: 100%;
    min-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: background-color 0.3s ease, border-color 0.1s ease;
}

nav li:hover {
    background-color: var(--secondary-gold);
    border-left: 3px solid black;
    border-right: 3px solid black;
}

nav li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    font-size: min(3vw, 28px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: teko-medium;
}

nav #selected-page {
    background-color: var(--secondary-gold);
    font-weight: bold;
}

/* ============================ INDEX.HTML ============================ */
#index .left,
#index .right {
    margin-bottom: 30px;
}

#index .left {
    flex: 2;
    margin-right: 7%;
}

#index .right {
    flex: 3;
}

#index h1 {
    font-family: teko-light;
    font-size: min(40px, 3.5vw);
    margin-bottom: 10px;
}

#index #intro {
    margin-bottom: 5vw;
}

#index .right #meal-title {
    margin: 0;
    font-family: zilla-medium;
    font-size: min(24px, 2.5vw);
}

#index .right #meal-img {
    width: min(35vw, 450px);
    border: 3px solid var(--primary-gold);
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

#index .firstpage-read-more-links {
    margin: 0;
    margin-top: 1vw;
}

#index .firstpage-read-more-links a {
    color: black;
    text-decoration: none;
    font-family: zilla-medium;
    font-size: min(20px, 2.4vw);
}

#index .firstpage-read-more-links a:hover {
   text-decoration: underline;
}

/* =============== TABLE =============== */

#index td img {
    width: min(300px, 18vw);
    height: min(200px, 13vw);
    border: 3px solid var(--primary-gold);
    border-radius: 5px;
}

#index td h2 {
    margin: 0 0 0 5px;
    text-align: left;
    font-size: min(20px, 2vw);
    font-family: zilla-medium;
    color: black;
    text-decoration: none;
}

#index td h2 a {
    color: black;
    text-decoration: none;
}

#index td h2 a:hover {
    text-decoration: underline;
}

#index td:first-child {
    padding-right: 3vw;
}
/* ==================================== */

/* ============================ OUR-RECIPES.HTML ============================ */
#our-recipes {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 200px;
}

#our-recipes #search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

#our-recipes #search-bar #search-input {
    font-family: zilla-medium;
    width: 250px;
    height: 33px;
    border-radius: 3px;
    border-color: black;
    font-size: min(20px, 2.4vw);
}

#our-recipes #search-bar #search-input:focus {
    outline: none !important;
    border: 2px solid var(--primary-gold);
}

#our-recipes #search-bar #search-button,
#our-recipes #search-bar #search-clear {
    width: 80px;
    height: 40px;
    border: 2px solid var(--primary-gold);
    border-radius: 3px;
    margin-left: 10px;
    font-family: teko-medium;
    font-size: min(25px, 2.6vw);
    background-color: white;
    line-height: inherit;
    transition: background-color 0.3s ease
}

#our-recipes #search-bar #search-button:hover,
#our-recipes #search-bar #search-clear:hover {
    background-color: var(--secondary-gold);
    cursor: pointer;
}

#our-recipes h1 {
    font-family: teko-light;
    font-size: min(40px, 8vw);
    margin-bottom: 10px;
}

#our-recipes #meal-title {
    margin: 0;
    font-family: zilla-medium;
}

#our-recipes #meal-img {
    width: min(40vw, 500px);
    border: 3px solid var(--primary-gold);
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

#our-recipes #meal-instructions {
    margin-bottom: 30px;
}

/* ============================ GALLERY.HTML ============================ */
#gallery {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#gallery h1 {
    font-family: teko-medium;
    text-align: center;
    font-size: min(40px, 4vw);
}

#gallery #table-container {
    width: 90%;
    align-self: center;
}

#gallery .table {
    width: 100%;
    align-self: center;
    margin-bottom: 30px;
}

#gallery .table td {
    text-align: center;
}

#gallery #top-table td img {
    width: 24vw;
    height: 15vw;
}

#gallery #bottom-table td img {
    width: 17vw;
    height: 12vw;
}

#gallery #bottom-table tr:first-child td {
    padding-bottom: 20px;
}

#gallery .dish-img {
    border: 5px solid var(--primary-gold);
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease
}

#gallery .dish-img:hover {
    border: 5px solid var(--secondary-gold);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 15px 15px 20px black;
}

/* ============================ ABOUT-US.HTML ============================ */
#about-us {
  display: flex;
  flex-direction: row;
}

#about-us h1 {
  font-family: teko-medium;
  margin-bottom: 10px;
}

#about-us h2 {
    margin: 0;
    margin-bottom: 0.5vw;
}

#about-us #summary {
  margin: 0 5% 30px 10px;
}

#about-us #history {
  margin: 0 10px 30px 5%;
}

#about-us #summary p {
  margin-bottom: 1vw;
}

#about-us .text-link a {
  color: black;
  text-decoration: none;
  font-family: zilla-medium;
  font-size: min(20px, 2.3vw);
}

#about-us .text-link a:hover {
 text-decoration: underline;
}

/* ============================ CONTACT-NEWSLETTER.HTML ============================ */
#contact-newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact-newsletter h1 {
  font-family: teko-medium;
  text-align: center;
  font-size: min(33px, 3.5vw);
}

#contact-newsletter h2 {
    font-size: min(17px, 2.3vw);
}

#contact-newsletter a {
  width: fit-content;
  font-family: zilla-medium;
  text-decoration: none;
  color: black;
}

#contact-newsletter a:hover {
  text-decoration: underline;
}

#contact-newsletter .logo {
    width: min(50px, 6vw);
    height: min(50px, 6vw);
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid var(--primary-gold);
}

/* =============== EMAIL =============== */
#contact-newsletter #email-div {
  margin-right: 10%;
  flex: 1;
  margin-bottom: 30px;
  min-width: 0;
}

#contact-newsletter #email-div a {
    display: flex;
    margin-top: 15px;
}

@media(min-width: 921px) {
    #contact-newsletter #email-div a {
        flex-direction: row;
        align-items: center;
    } 
}

@media(max-width: 920px) {
    #contact-newsletter #email-div a {
        flex-direction: column;
        align-items: left;
    } 
}

/* =============== SOCIALS =============== */
#contact-newsletter #socials-div {
  margin-right: 10%;
  flex: 1;
  margin-bottom: 30px;
  min-width: 0;
}

#contact-newsletter #socials-list {
    list-style-type: none;
    margin-left: -2.5vw;
}

#contact-newsletter #socials-list li {
  margin-bottom: 10px;
}

#contact-newsletter #socials-list a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* =============== NEWSLETTER =============== */
#contact-newsletter #newsletter-div {
  flex: 1;
  margin-bottom: 30px;
  min-width: 0;
}

#contact-newsletter #newsletter-div h2 {
    font-family: zilla-medium;
}

#contact-newsletter #newsletter-div ul {
    list-style-type: none;
    font-size: 20px;
    margin-left: -2.5vw;
}

#contact-newsletter #newsletter-div label {
    font-family: zilla-medium;
    width: min(18px, 2vw);
}

#contact-newsletter #newsletter-div ul:nth-child(1) label {
    font-size: min(22px, 2.5vw);
}

#contact-newsletter #newsletter-div ul:nth-child(2) li {
    margin-bottom: 10px;
    font-size: min(18px, 2.5vw);
}

#contact-newsletter #newsletter-div #form-name,
#contact-newsletter #newsletter-div #form-email {
    font-family: zilla-medium;
    width: min(350px, 17vw);
    height: 30px;
    border-radius: 3px;
    border-color: black;
    font-size: min(20px, 2.4vw);
    margin-bottom: 10px;
}

#contact-newsletter #newsletter-div #form-name:focus,
#contact-newsletter #newsletter-div #form-email:focus {
    outline: none !important;
    border: 2px solid var(--primary-gold);
}

#contact-newsletter #newsletter-div #subscribe-button {
    width: min(125px, 16vw);
    height: 40px;
    border: 2px solid var(--primary-gold);
    border-radius: 3px;
    margin-top: 10px;
    font-family: teko-medium;
    font-size: min(25px, 3vw);
    background-color: white;
    line-height: inherit;
    transition: background-color 0.3s ease
}

#contact-newsletter #newsletter-div #subscribe-button:hover {
    background-color: var(--secondary-gold);
    cursor: pointer;
}
